body
{
 background-color: black;
 padding: 0;
 margin: 0;
 overflow:hidden;
 max-width: 100vw;
 max-height: 100vh;
 width: 177vh;
 height: 56vw;
}

.absolute
{
 position: absolute;
 top:0px;
 left:0px;
 padding: 0;
 margin: 0;
 width:100%;
 height:100%;
 max-width: 177vh;
 max-height: 56vw;
}

.mothership
{
 -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
 -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
 animation-name: example;
 animation-duration: 2s;
 animation-iteration-count: infinite;
}

#score
{
 color:white;
 text-align:right;
}

#lostScreenScore
{
 position: relative;
 font-size:5vmin;
 top:55%;
 width: 100%;
 left:0px;
 color:#6eff6b;
 font-family: 'Press Start 2P', cursive;
}

#mothership_back
{
 background:url('../img/mothership_01_back.png');
 background-repeat: no-repeat;
 background-size: contain;
}

#mothership_front
{
 background:url('../img/mothership_01_front.png');
 background-repeat: no-repeat;
 background-size: contain;
}

@keyframes example {
    0%     { margin-top:-5px; }
    50%    { margin-top:0px; }
    100%   { margin-top:-5px; }
}

#background
{
 background:url('../img/background_01.jpg');
 background-repeat: no-repeat;
 background-size: contain;
}

#gameCanvas
{
 /* fill screen but preserve aspect ratio */
 /* 1280/720 ~ 1.77*/
 max-width: 177vh;
 max-height: 56vw;
 color:white;
}
