body
{
 background-color: yellow;
 padding: 0;
 margin: 0;
 overflow:hidden;
}

.absolute
{
 position: absolute;
 top:0px;
 left:0px;
 padding: 0;
 margin: 0;
}

#score
{
 color:white;
 width:1280px;
 text-align:right;
}

#mothership_back
{
 background:url('../img/mothership_01_back.png'); 
 width: 1280px;
 height: 250px;
}
#mothership_front
{
 background:url('../img/mothership_01_front.png'); 
 width: 1280px;
 height: 250px;
}

#background
{
 background:url('../img/background_01.jpg');
 width: 1280px;
 height: 720px;
}

#gameCanvas
{
/* width:1280px;
 height:720px;*/
 color:white;
}
